<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mcommerce</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <h1>Application Mcommerce</h1>
        <div class="raw">
            <div th:each="produit : ${produits}" class="col-md-4 my-1">
              <p th:text="${produit.titre}"></p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>